@model Noob.Web.Admin.Models.AdmConfigsModel
@{
    Layout = null;
}
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center'" style="padding:10px;">
    <form id="add_data" action="">
        @Html.AntiForgeryToken()
    <table width="100%">
        <tr>
            <td align="right">配置标识：</td>
            <td><input type="text" name="ConfigCode" value="@Model.ConfigCode" class="easyui-textbox" style="width:300px" data-options="required:true" /><span style="color:Red;margin-left:5px">*</span></td>
        </tr>
        <tr>
            <td align="right">配置名称：</td>
            <td><input type="text" name="ConfigName" value="@Model.ConfigName" class="easyui-textbox" style="width:300px" data-options="required:true" /><span style="color:Red;margin-left:5px">*</span></td>
        </tr>
        <tr>
            <td align="right">配置组名称：</td>
            <td><input type="text" name="ConfigGroupName" value="@Model.ConfigGroupName" class="easyui-textbox" style="width:300px" data-options="required:true" /><span style="color:Red;margin-left:5px">*</span></td>
        </tr>
        <tr>
            <td align="right">配置值：</td>
            <td>
                <input type="text" style="height:100px;width:300px" value="@Model.ConfigValue" name="ConfigValue" class="easyui-textbox" data-options="multiline:true,required:true" />
                <span style="color:Red;margin-left:5px">*</span>
            </td>
        </tr>
        <tr>
            <td align="right">状态：</td>
            <td>
                <select name="Status" id="sltStatus" style="width:126px;" class="easyui-combobox easyui-validatebox" editable="false" data-options='panelHeight:150,required:true'>
                    <option value="0">禁用</option>
                    <option value="1" selected="selected">启用</option>
                </select><span style="color:Red;margin-left:5px">*</span>
            </td>
        </tr>
        <tr>
            <td align="right">备注：</td>
            <td>
                <input type="text" style="height:100px;width:300px" name="Remark" value="@Model.Remark" class="easyui-textbox" data-options="multiline:true,required:true" />
            </td>
        </tr>        
        </table>
        <input type="hidden" value="@Model.ConfigID" name="ConfigID" />
    </form>  
    </div>
    <div data-options="region:'south',border:false" style="text-align:right; height:33px; padding:3px 10px 0;">
        <a class="easyui-linkbutton" id="btn_saveItem" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="saveCodeData()" style="width:80px">保存</a> 
    </div>
</div>
<script type="text/javascript">
    //初始化值
    $(function () {
        //checkIsEdit();
        init();
    });
    function init() {
        $("#sltStatus").val("@Model.Status");
    }
    function formIsValid() {
        var validHtml = $("#add_data input.easyui-textbox");
        var flag = true;
        for (var i = 0; i < validHtml.length; i++) {
            //对每个对象进行验证，如果不通过则退出
            flag = $(validHtml[i]).textbox("isValid");
            if (!flag) {
                break;
            }
        }
        return flag;
    }
    function saveCodeData() {
        var flag = formIsValid();
        if (!flag)
        {
            $.messager.alert('提示', '有必填项为空或输入数据格式不对，请检查！', 'error');
            return;
        }
        var data = $("#add_data").serialize();
        //显示遮罩
        loading({ btn: 'btn_saveItem' });
        $.ajax({
            type: "POST",
            url: rootUrl+"Configs/Edit",
            data: data,
            success: function (data) {
                //隐藏遮罩,by michael in 2014/7/9
                loaded({ btn: 'btn_saveItem' });
                if (data.Code != undefined) {
                    if (data.Code == 1) {
                        $.messager.alert('提示', '保存成功。', 'info', function () {
                            reloadData();
                            closeDialog();
                        });
                    }
                    else {
                        $.messager.alert('提示', data.Msg, 'error');
                    }
                }
                else {
                    $.messager.alert('提示', '系统错误，请联系管理人员！', 'error');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                // alert(XMLHttpRequest.status);
                //alert(XMLHttpRequest.readyState);
                // alert(textStatus);
                //console.log(errorThrown);
            },
            complete: function (XMLHttpRequest, textStatus) {
                this; // 调用本次AJAX请求时传递的options参数
            }
        });
    }
</script>
