@{
    ViewBag.Title = "编辑广告";
}

<style type="text/css">
    .tdTitle {
        width: 100px;
    }
 #ImageUrl_filelist {MARGIN: auto;WIDTH: 190px;}
#ImageUrl_filelist img{MAX-WIDTH: 100%!important;HEIGHT: auto!important;width:expression(this.width > 190 ? "190px" : this.width)!important;}
</style>
@model Noob.Web.Admin.Models.CmsAdvModel
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center'">
        <form id="add_data" action="">
            @Html.AntiForgeryToken()
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-header table-body" style="overflow:hidden">
                <tr>
                    <td align="right" class="tdTitle"> 广告名称：</td>
                    <td><input type="text" id="txtAdvName" value="@Model.AdvName" class="easyui-textbox easyui-validatebox" data-options='required:true,validType: "length[0,100]"' name="AdvName" style="width:300px;" /></td>
                </tr>
                <tr>
                    <td align="right" class="tdTitle">广告标识：</td>
                    <td><input type="text" id="txtAdvCode" value="@Model.AdvCode" class="easyui-textbox easyui-validatebox" data-options='required:true,validType: "length[0,50]"' name="AdvCode" style="width:300px;" /></td>
                </tr>
                <tr>
                    <td align="right" class="tdTitle">广告标题：</td>
                    <td><input type="text" id="txtAdvTitle" value="@Model.AdvTitle" class="easyui-textbox easyui-validatebox" data-options='required:true,validType: "length[0,100]"' name="AdvTitle" style="width:300px;" /></td>
                </tr>

                <tr style="height:100px;">
                    <td align="right" class="tdTitle">广告图片地址：</td>
                    <td>
                        <!--image_upload container start-->
                        <div id="image_upload_container" class="image_upload_container">
                            <!--头部，相册选择和格式选择-->
                            <div id="uploader" class="image_upload">
                                <div class="queueList">
                                    <div id="dndArea" class="placeholder">
                                        <div id="filePicker"></div>
                                        <p>或将照片拖到这里</p>
                                    </div>
                                </div>
                                <div class="statusBar" style="display:none;">
                                    <div class="progress">
                                        <span class="text">0%</span>
                                        <span class="percentage"></span>
                                    </div><div class="info"></div>
                                    <div class="btns">
                                        <div id="filePicker2" class="filePicker2"></div><div class="uploadBtn">开始上传</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--image_upload container end -->
                    </td>
                </tr>
                <tr>
                    <td align="right">所属广告位：</td>
                    <td>
                        <input type="text" id="sltAdvPositionId" name="AdvPositionId" class="easyui-combobox" editable="false" data-options='panelHeight:100,required:true' />
                        <span style="color:Red">*</span>
                    </td>
                </tr>
                <tr>
                    <td align="right" class="tdTitle">广告类型：</td>
                    <td>
                        <select name="AdvType" id="sltAdvType" style="width:126px;" class="easyui-combobox" editable="false" data-options='panelHeight:100,required:true'>
                            <option value="1">外部链接广告</option>
                            <option value="2">内部链接广告</option>
                            <option value="3">Html代码广告</option>
                        </select><span style="color:Red;margin-left:5px">*</span>
                    </td>
                </tr>
                <tr id="trUrl">
                    <td align="right" class="tdTitle">广告链接地址：</td>
                    <td><input type="text" id="txtUrl" value="@Model.Url" class="easyui-textbox easyui-validatebox" data-options='validType: "length[0,200]"' name="Url" style="width:300px;" /></td>
                </tr>
                <tr id="trAdvHtmlCode" style="display:none;">
                    <td align="right" class="tdTitle">广告Html代码：</td>
                    <td>
                        <input type="hidden" id="txtAdvHtmlCode" name="AdvHtmlCode" value='@Html.Raw(Model.AdvHtmlCode)' />
                        <script id="ueditorAdvHtmlCode" type="text/plain" style="width:80%;height:300px;">
                        </script></td>
                </tr>
                <tr>
                    <td align="right" class="tdTitle">广告位状态：</td>
                    <td>
                        <select name="Status" id="sltStatus" style="width:126px;" class="easyui-combobox easyui-validatebox" editable="false" data-options='panelHeight:100,required:true'>
                            <option value="1">启用</option>
                            <option value="0">禁用</option>
                        </select><span style="color:Red;margin-left:5px">*</span>
                    </td>
                </tr>
                <tr>
                    <td align="right" class="tdTitle">排序：</td>
                    <td><input type="text" id="txtSortOrder" value="@Model.SortOrder" class="easyui-textbox easyui-validatebox" data-options='required:true,validType: "number"' name="SortOrder" style="width:80px;" /></td>
                </tr>
                <tr>
                    <td align="right" class="tdTitle">描述：</td>
                    <td><input type="text" id="txtRemark" value="@Model.Remark" class="easyui-textbox easyui-validatebox" data-options='required:true,multiline:true,validType: "length[0,300]"' name="Remark" style="height:80px;width:300px" /></td>
                </tr>
            </table>
            <input type="hidden" value="@Model.AdvID" name="AdvID" />
        </form>

    </div>
    <div data-options="region:'north',border:false" class="divNorthDetail">
        <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" id="btn_saveItem" href="javascript:void(0)" onclick="saveData()" style="width:80px">保存</a>
        <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" id="btn_cancelItem" href="javascript:void(0)" onclick="closeWin()" style="width:80px">取消</a>
    </div>
</div>
<script type="text/javascript" src="@Url.Content(ViewBag.RootUrl + "Scripts/Admin/clear.js")"></script>
<!--引入CSS-->
<link rel="stylesheet" type="text/css" href="@Url.Content(ViewBag.RootUrl + "Scripts/webuploader/webuploader.css")">
<link rel="stylesheet" type="text/css" href="@Url.Content(ViewBag.RootUrl + "Scripts/webuploader/css/image_uploads_admin.css")">
<!--引入JS-->
<script type="text/javascript" src='@Url.Content(ViewBag.RootUrl + "Scripts/webuploader/webuploader.min.js")'></script>
<script type="text/javascript" src='@Url.Content(ViewBag.RootUrl + "Scripts/webuploader/js/image_uploads.js")'></script>
<script type="text/javascript" charset="utf-8" src='@Url.Content(ViewBag.RootUrl + "Scripts/UEditor/dev-1.5.0/ueditor.config.admin.js")'></script>
<script type="text/javascript" charset="utf-8" src='@Url.Content(ViewBag.RootUrl + "Scripts/UEditor/dev-1.5.0/ueditor.all.min.js")'> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src='@Url.Content(ViewBag.RootUrl + "Scripts/UEditor/dev-1.5.0/lang/zh-cn/zh-cn.js")'></script>

<script type="text/javascript">
    var rootUrl = '/';
    var uploadUrl = "/Uploads";

    function initValue()
    {
        $("#sltStatus").val(@Model.Status);
        $("#sltAdvType").val(@Model.AdvType);
    }
    initValue();
    //初始化值
    $(function () {
        //checkIsEdit();
        init();
    });
    function closeWin() {
        parent.closedTabs("修改广告");
    }
    function advTypeSelect(advType)
    {
        // console.log(record.text + ",val:" + $('#sltAdvType').combobox('getValue'));
        //广告类型 (1:外部链接广告 2 :内部链接广告 3:Html广告)
        var isInit = 1;
        if (advType == undefined) {
            advType = $('#sltAdvType').combobox('getValue');
            isInit = 0;
        }
        switch (advType) {
            case "3":
                $("#trUrl").css("display", "none");
                $("#trAdvHtmlCode").css("display", "");
                var $txtUrl = $("#txtUrl");
                $txtUrl.attr("data-options", 'validType: "required:false,length[0,200]"');
                $.parser.parse($txtUrl);
                //$.parser.parse($txtAdvHtmlCode);
                // $.parser.parse();
                //实例化编辑器
                //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
                var objEditor = UE.getEditor('ueditorAdvHtmlCode');
                //var test = setTimeout(function () {
                //}, 2000);
                //objEditor.setContent('hello');
                //清理方法 clearTimeout(test)
                //objEditor.execCommand('insertHtml', '');//插入html代码
                //objEditor.setContent('', true);//可以设置编辑器的内容
                objEditor.ready(function () {
                    if (isInit) {
                        objEditor.setContent('@Html.Raw(Model.AdvHtmlCode)'); //可以设置编辑器的内容
                    }
                });
                break;
            default:
                $("#trUrl").css("display", "");
                $("#trAdvHtmlCode").css("display", "none");
                var $txtUrl = $("#txtUrl");
                $txtUrl.attr("data-options", 'validType: "required:true,length[0,200]"');
                $.parser.parse($txtUrl);
                break;
        }
    }

    function init() {
        $('#sltAdvType').combobox({
            onSelect: function (record) {
                advTypeSelect();
            }
        });
        $('#sltAdvPositionId').combobox({
            url: rootUrl + "AdvPosition/GetSubList?t=" + Math.random(),
            valueField: 'id',
            textField: 'text',
            editable: false,
            onLoadSuccess: function () {
                // $("#sltAdvPositionId").val("@Model.AdvPositionId");
                $('#sltAdvPositionId').combobox("setValue", "@Model.AdvPositionId");//这里写设置默认值，
                //if ($(this).combobox("getData").length == 0) {
                //}
                //else {
                //}
            }
        });

        advTypeSelect("@Model.AdvType");
        /* ----------------image_upload Start--------------------- */
        var imgFiles = [
            {
                fileSize: 4 * 1024 * 1024,
                filePath: '@Model.ImageUrl'
            }
        ];
        initUploads({
            auto: true, imgDir: 'Adv/Images', fileDatas: imgFiles
        });
        /* ----------------image_upload End--------------------- */

    }

    function formIsValid() {
        //广告类型 (1:外部链接广告 2 :内部链接广告 3:Html广告)
        var advType = $('#sltAdvType').combobox('getValue');
        var htmlCode = "";
        if (advType == "3") {
            var objEditor = UE.getEditor('ueditorAdvHtmlCode');
            // var  htmlCode = objEditor.getAllHtml();
            //var htmlCode = objEditor.getPlainTxt();//可以获得编辑器的带格式的纯文本内容

            /*
            当你点击按钮时编辑区域已经失去了焦点，如果直接用getText将不会得到内容，所以要在选回来，然后取得内容
            var range =objEditor.selection.getRange();
            range.select();
            var txt = objEditor.selection.getText();
            */

            // var htmlCode = objEditor.getContentTxt() 获得编辑器的纯文本内容
            var htmlCode = objEditor.getContent();//可以获得编辑器的内容
            if (!objEditor.hasContents())////判断编辑器里是否有内容
            {
                $.messager.alert('提示', '有必填项为空或输入数据格式不对，请检查！', 'error');
                return;
            }
            $("input[name='AdvHtmlCode']").val(htmlCode);
            // $("#txtAdvHtmlCode").val(htmlCode);
            //console.log("html:" + $("#txtAdvHtmlCode").val() + ":code:" + htmlCode);
            //return;
        }
        //获取form id=add_data ，下html为input，css类为easyui-validatebox 的所有对象
        var validHtml = $("#add_data input.easyui-validatebox");
        var flag = true;
        for (var i = 0; i < validHtml.length; i++) {
            //对每个对象进行验证，如果不通过则退出
            flag = $(validHtml[i]).validatebox("isValid");
            if (!flag) {
                break;
            }
        }
        return flag;
    }
    function saveData() {
        var flag = formIsValid();
        if (!flag) {
            $.messager.alert('提示', '有必填项为空或输入数据格式不对，请检查！', 'error');
            return;
        }
        var data = $("#add_data").serialize();
        $.ajax({
            type: "POST",
            url: rootUrl + "Adv/Edit",
            data: data,
            success: function (data) {
                //隐藏遮罩,by michael in 2014/7/9
                loaded({ btn: 'btn_saveItem' });
                // console.log("code:" + data.Code);
                if (data.Code != undefined) {
                    if (data.Code == 1) {
                        $.messager.alert('提示', '保存成功。', 'info', function () {
                            // reloadData();
                            // closeDialog();
                            parent.openTab("广告管理", rootUrl + "Adv/Index?refresh=1");
                            parent.closedTabs("编辑广告");

                        });
                    }
                    else {
                        $.messager.alert('提示', data.Msg, 'error');
                    }
                }
                else {
                    $.messager.alert('提示', '系统错误，请联系管理人员！', 'error');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                // alert(XMLHttpRequest.status);
                //alert(XMLHttpRequest.readyState);
                // alert(textStatus);
                //console.log(errorThrown);
            },
            complete: function (XMLHttpRequest, textStatus) {
                this; // 调用本次AJAX请求时传递的options参数
            }
        });
    }
</script>
